html {
    height: 100%;
    width: 100%;
}

.header {
    background-image: url('DodgerBackTile.png');
    background-attachment:fixed;
    background-position: left top;
    
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 30px;
    
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.bodyMain{
    padding-top: 300px;
    padding-bottom: 200px;
    padding-left: 30px;
    font-family: monospace;
}

.footerMain{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    
    background: #000000;
    color: white;
    font-family: monospace;
}

.footerLeft{
    float:left;
    margin-left:10px;
}

.footerRight{
    float:right;
    margin-right:20px;
}

.sdk ul li { padding: 10px 0px; }